.card {
    padding-top: 43px;
    text-align: left;
    width: 312px;
    height: 552px;
    border-style: solid;
    border: 1px solid #D58C51;
}
.card_image {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 270px;
}
.card_title {
    font-family: Arial;
    text-align: center;
    color: #FFFFFF;
    font-size: 17px;
}

.card_info {
    font-family: Arial;
    margin-right: 20px;
    margin-left: 20px;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 50px;
}
.card_price {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    color: #FFFFFF;
    font-size: 17px;
    font-family: Arial;
}
.card_button {
    background-color: #161516;
    border: 2px solid #FFFFFF;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.card_button:hover {
    background-color: #D58C51;
    border-color:  #D58C51;
}