.basket-card {
    display: inline-flex;

}
.basket-card_button {
    background-color: #161516;
    border: 2px solid #FFFFFF;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.basket-card_button:hover {
    background-color: #D58C51;
    border-color:  #D58C51;
}