body {
    margin: 0;
    padding: 0;
    background-color: #161516;
    background-size: cover;
}
.basket-form {
    padding-bottom: 140px;
    width: 1440px;
    height: 773px;
    font-family: Arial;

}
.basket-form_title {
    text-align: center;
    font-family: Arial;
    font-size: 35px;
    color:  #FFFFFF;
}
.basket-form_foodlist {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #CCCCCC;
}

