
.auth-main {
    background: url("../../image/main_img.png");
    height: 1000px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.auth-form__frame {
    margin: 150px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 460px;
    height: 340px;
    min-width: 319px;
    background: #FFFFFF;
    align-items: center;
}

.auth-form__title {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 50px;
}

.auth-form__email-wrapper {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 39px;

}

.auth-form__email {
    outline: none;
    border-radius: 15px;
    height: 30px;
    font-style: normal;
    font-size: 16px;
    font-family: Arial;
    border: 1px solid #D58C51

}
.auth-form__pass-wrapper {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 39px;
    color: #CCCCCC;
    margin-top: 13px;
}

.auth-form__pass {
    font-family: Arial;
    border: 1px solid #D58C51;
    outline: none;
    border-radius: 15px;
    height: 30px;
    font-size: 16px;
}

.auth-form__checkbox-wrapper {
    position: relative;
    width: fit-content;
    display: flex;
    margin-top: 5px;
    padding-right: 150px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #301411;

}

.auth-form__checkbox {
    position: relative;
    opacity: 0;
    z-index: 4;
}
.auth-form__checkbox-mark {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #D58C51;
    border-radius: 50%;

}
.auth-form__button {
    z-index: 5;
    margin-top: 20px;
    width: 180px;
    height: 42px;
    border: none;
    background: #D58C51;
    color: black;
    cursor: pointer;
    font-family: Arial;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    transition: .2s opacity;
}
.auth-form__button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
.auth-form__checkbox-label {
    padding-left: 10px;
    margin-top: 2px;

}
.emailError {
    color: red;
    position: absolute;
    top: 260px;
    font-size: 14px;
}
.passError {
    font-size: 14px;
    color: red;
    position: absolute;
    top: 310px;
}
/*.auth-form__button:hover {
    opacity: 0.5;
}
*/
.auth-form__pass::placeholder {
    color: black;
}

.auth-form__email::placeholder {
    color: black;
}
