
.menu-list {
    color: #CCCCCC;
    font-family: Arial;
    width: 1440px;
    height: 1379px;
    padding-top: 173px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 67px;
    background: #161516;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-list_title {
    position: absolute;
    font-family: Arial;
    font-size: 35px;
    z-index: 5;
    top: 30px;
    color: #FFFFFF;
}
.menu-list_form {
    position: absolute;
    left: 1440px;
    top: 60px;
}
.menu-list_button-basket {
    background-color: #161516;
    border: 2px solid #FFFFFF;
    color: white;
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 80%;
    cursor: pointer;
}
.menu-list_button-basket:hover {
    background-color: #D58C51;
    border-color:  #D58C51;
}
.icon_basket {
    background-image: url('../../image/Vector.png');
    height: 15px;
    width: 15px;
    padding-left : 40px;
    padding-top : 15px;
    padding-bottom : 15px;
    background-repeat : no-repeat;
}
.menu-list_basket-info {
    color: #CCCCCC;
    position: absolute;
    z-index: 8;
    left: 1280px;
    top: 80px;
}